<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>hello</h2>
    <h2><%= data.title %></h2>
    <div id="sectionsBlock">
        <% for(let i = 0; i < data.sections.length ; i++) { %>
            <button id="<%= `section${i}` %>" class="sectionButtons"><%= data.sections[i].subject %></button>
        <% } %>
    </div>
    <div>
        <h1><%= attempt.marksScored %>/<%= attempt.totalMarks %></h1>
    </div>
    <div id="questionButtonsBlock">
        <% for(let i = 0 ; i < data.sections.length ; i++) { %>
            <div id="<%= `section${i}Questions` %>" style="display : none">
                <% for(let j = 0; j < data.sections[i].questionsCount; j++) { %>
                    <div id="<%= `section${i}question${j}button` %>">
                    <button class="questionButtons" id="<%= `${questions[i][j]._id}button` %>"><%= j+1 %></button>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
    <div id="questionBlock">
        <% for(let i = 0 ; i < questions.length ; i++) { %>
            <div id="<%= `section${i}` %>">
            <% for(let j = 0 ; j < questions[i].length ; j++) { %> 
                <div id="<%= `section${i}question${j}` %>" style="display: none ;">
                <div id="<%= questions[i][j]._id %>">
                    <h4 id="<%= `section${i}question${j}statement` %>"><%= questions[i][j].statement %></h4>
                    <div id="<%= `section${i}question${j}optionsblock` %>">
                        <% for(let k = 0 ; k < questions[i][j].options.length ; k++) { %>
                            <div>
                            <!-- <input type="radio" name="<%= `section${i}question${j}options` %>" value="<%= questions[i][j].options[k] %>" id="<%= `section${i}question${j}option${k}` %>"> -->
                            <%= k+1 %>.<%= questions[i][j].options[k] %><br>
                            </div>
                        <% } %>
                    </div>
                    <div id=<%= `section${i}question${j}correctAnswer` %>>
                        correctAnswer : <%= questions[i][j].correctAnswer %>
                    </div>
                    <div id=<%= `section${i}question${j}answer` %>>

                    </div>
                    <div id=<%= `section${i}question${j}marked` %>>

                    </div>
                </div>
                </div>
            <% } %>
        <% } %>
            </div>
    </div>
<script>
    const parts = window.location.href.split("/") ;
    const token = parts[parts.length - 1] ; 
    let section = -1 ;
    let question = -1 ;
    let storeddata = [] ;
    // let correctAnswers ;
    // let wrongAnswers ;
    // alert(token) ;
    document.addEventListener("DOMContentLoaded", () => {
        fetch(`http://localhost:3000/api/user/getQuestionStatus/${token}`, {
        method: 'GET',
        })
        .then(res => {
            // if(res.status == 500) {
            //     throw new Error("Internal server Error") ;
            // }
            return res.json() ;
        })
        .then(data => {
            let correctAnswers = data.data.correctAnswers ;
            let wrongAnswers = data.data.wrongAnswers ;
            for(let i=0;i<correctAnswers.length;i++) {
                document.getElementById(`${correctAnswers[i]}button`).style.backgroundColor = "green" ;
            }
            for(let i=0;i<wrongAnswers.length;i++) {
                document.getElementById(`${wrongAnswers[i]}button`).style.backgroundColor = "red" ;
            }
        })
        .catch(err => {
            console.log(error) ;
            alert("Internal Server Error, unable to load the details. try refreshing the page")
        });
    })

    document.getElementById("sectionsBlock").addEventListener("click", (e) => {
        if(e.target.className == "sectionButtons") {
            let id = e.target.id ;
            let num = id.match(/\d+/);
            if(section != -1) {
                document.getElementById(`section${section}`).style.backgroundColor = "white" ;
                document.getElementById(`section${section}Questions`).style.display = "none" ;
            }
            if(question != -1) {
                document.getElementById(`section${section}question${question}`).style.display = "none" ;
            }
            section = num ;
            document.getElementById(`section${section}`).style.backgroundColor = "yellow" ;
            document.getElementById(`section${section}Questions`).style.display = "block" ;
        }
    })

    document.getElementById("questionButtonsBlock").addEventListener('click', (e) => {
        if(e.target.className == "questionButtons") {
            if(section == -1) {
                alert("select a section first") ;
                return ;
            }
            if(question != -1) {
                document.getElementById(`section${section}question${question}`).style.display = "none" ;
            }
            let id = e.target.id.match(/^([a-f0-9]{24})button$/)[1];
            let str = e.target.parentElement.id ;
            section = parseInt(str.split("section")[1].split("question")[0]);
            question = parseInt(str.split("question")[1].split("button")[0]);
            document.getElementById(`section${section}question${question}`).style.display = "block" ;
            if(storeddata.includes(id)) {
                return ;
            }
            fetch(`http://localhost:3000/api/user/getAnswers/${token}/${id}`, {
            method: 'GET',
            })
            .then(res => {
                if(res.status == 500) {
                    throw new Error("Internal server Error") ;
                }
                return res.json() ;
            })
            .then(data => {
                if(!data.status) {
                    document.getElementById(`section${section}question${question}answer`).innerHTML = "not answered" ;
                    return ;
                }
                data = data.data ;
                if(data.type == 2) {
                    document.getElementById(`section${section}question${question}marked`).innerHTML = "Marked For Review" ;
                } 
                console.log(data.answer) ;
                if(data.answer) {
                    document.getElementById(`section${section}question${question}answer`).innerHTML = `answered : ${data.answer}` ;
                }
                else {
                    document.getElementById(`section${section}question${question}answer`).innerHTML = "not answered" ;
                }
                storeddata.push(id) ;
            })
            .catch(err => {
                console.log(error) ;
                alert("Internal Server Error, unable to load the details. try refreshing the page")
            });
        }
        })

</script>
</body>
</html>